.form {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: auto;
    box-shadow: 2px 2px 2px 2px rgb(236, 53, 53);
    padding: 20px;
    background-color: rgb(233, 104, 104);
}

.form input {
padding: 5px;
border-radius: 10px;
}

.form button {
    color: rgb(247, 30, 30);
    background-color: #2f22e9;
    
    border: none;
    width: 50%;
    margin: 15px auto;
    padding: 5px;
    border-radius: 15px;
}