.header {
    background-color: #564dbb;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h2 {
    margin-left: 20px;
    color: white;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}